# Couchbase connection used by examples and optional live tests.
LMCACHE_COUCHBASE_CONNSTR=couchbase://127.0.0.1
LMCACHE_COUCHBASE_USERNAME=Administrator
LMCACHE_COUCHBASE_PASSWORD=password
LMCACHE_COUCHBASE_BUCKET=lmcache
LMCACHE_COUCHBASE_SCOPE=_default
LMCACHE_COUCHBASE_COLLECTION=_default
LMCACHE_COUCHBASE_KEY_PREFIX=lmcache:
LMCACHE_COUCHBASE_TTL_SECONDS=3600

# Set to 1 to run pytest tests marked live.
LMCACHE_COUCHBASE_LIVE_TESTS=0
